name: Web

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: "v0.13.1"
      - name: Build with wasm-pack
        working-directory: aarch64-esr-web
        run: wasm-pack build
      - name: NPM install and build
        working-directory: aarch64-esr-web
        run: |
          npm install
          npm run build
      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: aarch64-esr-web/dist
